[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = git@github.com:funkydan2/hugo-kiera.git
[submodule "public"]
	path = public
  url = git@github.com:rkirov/rkirov.github.io.git
	branch = master
[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/amzrk2/hugo-theme-fuji.git
